

    <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
    		    <% if user_signed_in? %>
  		        <%= link_to searches_path :search_domain => "Privatpersonen", :controller_name => controller_name do %>
  		          <i class="btn btn-primary glyphicon glyphicon-filter"></i>
  		        <% end %>
    		    <% end %>
            <%= will_paginate @users, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <%= header("Privatpersonen " + "<span class='badge'>" + @usanz.to_s + "</span>", true) %>
  </div>

   <%= build_medialist2(@users, "users", nil) %>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
          <div id="map"></div>
      </div>
    </div>
  </div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
  });
</script>