
  
    <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
    		    <% if user_signed_in? %>
  		        <%= link_to searches_path :search_domain => "Institutionen", :controller_name => controller_name do %>
  		          <i class="btn btn-primary btn-xs glyphicon glyphicon-filter"></i>
  		        <% end %>
    		    <% end %>
            <%= will_paginate @companies, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <%= header("Institutionen " + "<span class='badge'>" + @companz.to_s + "</span>", true) %>
  </div>

  <% if false %>
  <%= build_medialist("col-sm-6 col-md-4 col-lg-3",@companies,"companies", true) %>
  <% end %>
  
  <%= build_medialist2(@companies,"companies",nil) %>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
          <div id="map"></div>
      </div>
    </div>
  </div>


<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
});
</script>